<%= form_for @task, :html =>{:multipart => true} do |f| %>
	<div class="col-md-4 ">
		<%= f.label :event_time  %><br>
		<%= f.text_field :event_time, :class =>"form-control" %><br>		

		<%= f.label :title  %><br>
		<%= f.text_field :title, :class =>"form-control" %><br>
		

		<%= f.label :photo %><br>
		<%= f.file_field :photo, :class =>"form-control"  %><br>

		<%= f.label "Assigne to" %><br>
		<%= f.collection_select :id, User.all, :id, :first_name ,:class =>"form-control"%><br><br>

		<%= f.label :active %><br>
		<%= f.check_box :active %><br><br>
		<%= f.submit "Add", :class =>"btn btn-default" %>
	</div>
<%end%>